$darkblue: #2c3e50;
$lighterdarkblue: #34495e;
$blue: #2980b9;
$lightblue: #3498db;
$green: rgba(22, 160, 133,1.0);
$lightgreen: rgba(26, 188, 156,1.0);
$grey: #7f8c8d;
$lightgrey: #95a5a6;
$boardbg: #EAECED;
$boardbgwhite: white;
$white: #ecf0f1;
$red: #e74c3c;
$section-divider: rgba(189, 195, 199,0.5);
$silvergrey: #ecf0f1;
$yellow: #f1c40f;
$purple: #8e44ad;

//COLOR CODED ELEMENTS

.strategy {
    background: $blue !important;
}

.video {
    background: $green !important;
}

.text {
    background: $yellow !important;
}

.design {
    background: $red !important;
}

.code {
    background: $purple !important;
}